@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Taylor Professional Services</h1>
    <p class="lead">
        Taylor’s Professional Services is a technical and engineering staffing service.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What We Do</h2>
        <p>
            When a TPS client company determines that it will need a temporary professional or scientific
            employee, it issues a staffing request against the contract it previously negotiated
            with TPS.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How We Do It</h2>
        <p>
            Once a staffing request has been issued, the client will be able to log into the site
            and search for a staff request by number.  The staff request query will result in a
            page that contains all staff request information along with a field that states whether
            the staff request is valid, invalid, unable to fill, or filled.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why We Do It</h2>
        <p>
            TPS wants to provide a web site so that their clients can complete a staffing request
            over the internet.  In addition, TPS wants to provide their clients with a list of
            potential candidates based on experience, education, salary, and location.
        </p>
    </div>
</div>